.infernomonCardContainerOpen {
	text-align: center;
	margin: 10px;
	//background-color: #591fce;
	background-image: linear-gradient(to bottom right, #0c9cee, #591fce, black);
	width: 300px;
	height: 860px;
	float: left;
	border-radius: 20px;
	font-family: 'Comic Sans MS';
}

.infernomonCardContainerClosed {
	text-align: center;
	margin: 10px;
	//background-color: #591fce;
	background-image: linear-gradient(to bottom right, #0c9cee, #591fce, black);
	width: 140px;
	height: 200px;
	float: left;
	border-radius: 20px;
	font-size: 15px;
	font-family: 'Comic Sans MS';
}

.infernomonImg,
.infImgOpen,
.infImgClosed {
	border-radius: 15px;
	margin: 10px;
}

.infImgOpen {
	height: 280px;
	float: left;
}

.infImgClosed {
	height: 100px;
}

.typesContainer {
	float: left;
	.typeHeader {
		width: 100px;
		float: left;
	}
	.type {
		width: 90px;
		float: left;
		border-radius: 15px;
	}
}

.stats {
	padding-top: 15px;
	margin-left: 10px;
	width: 45%;
	float: left;
	> div {
		text-align: left;
	}
}

.statBarsContainer {
	margin-top: 15px;
	width: 45%;
	float: left;
}

.statBar {
	height: 17px;
	margin-bottom: 7px;
}

.description {
	margin: 10px;
	width: 90%;
	text-align: left;
	height: 200px;
	display: inline-block;
}

.detailsBtn {
	color: white;
	cursor: pointer;
	font-size: 20px;
	background-image: linear-gradient(to bottom right, #3dbdc2, #16db93);
	//background-color: #3dbdc2;
	border-radius: 25px;
	height: 30px;
	float: bottom;
	width: 100%;
}

.detailsBtn:hover {
	background-image: linear-gradient(to bottom right, #16db93, #a1f480);
	//background-color: #16db93;
}
