.infernomonCardContainer {
	text-align: center;
	margin: 10px;
	background-color: #1c4c4b;
	width: 500px;
	height: 600px;
	float: left;
}

.name {
	font-size: 30px;
}

.infernomonImg {
	background-color: #1b313e;
	border-radius: 15px;
}

.stats {
	width: 200px;
}
