.App {
	text-align: center;
	color: white;
	background: radial-gradient(white, #0c9cee, #591fce, black);
	/* background-color: black; */
	/* background-image: url('./images/_aiCastle10Big.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */
}

.title {
	font-size: 55px;
	padding-top: 20px;
	font-family: 'Comic Sans MS';
	/* background-image: linear-gradient(to right, #0c9cee, #591fce, black); */
	background-image: url('./images/_aiCastle10Big.png');
	background-size: cover;
	text-shadow: 1px 5px #591fce;
}

.tabContainer {
	text-align: center;
	/* background-image: linear-gradient(to right, #0c9cee, #591fce, black); */
	text-shadow: none;
}

.tab,
.tabSelected {
	font-size: 20px;
	padding: 10px;
	margin: 1px;
	cursor: pointer;
	display: inline-block;
	background-image: linear-gradient(to bottom right, #3dbdc2, #16db93);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'Comic Sans MS';
}

.tabSelected {
	border-bottom: 2px solid white;
	background-image: linear-gradient(to bottom right, #16db93, #a1f480);
}

.hamburgerMenuBackground {
	width: 100%;
	background-color: #3dbdc2;
	font-size: 20px;
}

.hamburgerMenuOpenIcon {
	text-align: right;
	padding: 5px;
	cursor: pointer;
}

.hamburgerMenuItem {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: 'Comic Sans MS';
	cursor: pointer;
	text-shadow: none;
}
.hamburgerMenuItem:hover {
	background-color: #0c9cee;
}
