.App {
	text-align: center;
	height: 100vh;
	background-color: #54478c;
	color: white;
}

.title {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Comic Sans MS';
}

.tabContainer {
	text-align: center;
}

.tab,
.tabSelected {
	font-size: 20px;
	padding: 10px;
	margin: 1px;
	cursor: pointer;
	display: inline-block;
	background-color: #2d325a;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.tabSelected {
	border-bottom: 2px solid white;
	background-color: #4f7bff;
}

.hamburgerMenuBackground {
	width: 100%;
	background-color: #0db39e;
}

.hamburgerMenuOpenIcon {
	text-align: right;
	padding: 5px;
	cursor: pointer;
}

.hamburgerMenuItem {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: 'Comic Sans MS';
	cursor: pointer;
}
.hamburgerMenuItem:hover {
	background-color: #16db93;
}
