.App {
  text-align: center;
}

.title {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabContainer {
  text-align: center;
}

.tab,
.tabSelected {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
}

.tabSelected {
  border-bottom: 2px solid black;
}
